# Python / Venv
.venv/
__pycache__/
*.pyc

# Robot
reports/
output.xml
log.html
report.html
*.png

# VS Code
.vscode/

# Android/IDE (se algum dia cair algo aqui)
.idea/
*.iml
.gradle/
local.properties
